body {
    font-family: Arial, sans-serif;
    margin: 20px;
}


.edit-form {
    display: flex;
}

.edit-form-input input {
    width: 313px;
    margin-right: 10px;
}


h1 {
    text-align: center;
}

.editButton {
    background: red;
    margin-right: 20px;
}

p {
    height: 0;
}

#app {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

input {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    height: 35px;
    justify-content: space-between;
    text-align: left;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}


.todo-text {
    width: 269px;
    text-align: left;
}

#totalNotes {
    margin-bottom: 10px;
}

#totalFilteredNotes {
    margin-bottom: 10px;
}

.last-note {
    border-bottom: none;
}

.list-move,
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease !important;
}

.list-enter-from,
.list-leave-to {
    opacity: 0 !important;
}

.list-leave-active {
    position: absolute !important;
}